@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(209, 209, 209);
}


main{
    display: flex;
    align-items: center;
    place-content: center;
    height: 100vh;

}

.all{   /*Se refere aos dois conteiners*/
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    
}


#produto{
    border-radius: 15px 0px 0px 15px;
    background: url("img/perfume.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    filter: contrast(100%);
}

#info{
    border-radius: 0px 15px 15px 0px;
    background-color: rgb(255, 255, 255);
    
}


#info > #perfume{
    padding: 15px 0px 0px 17px;
    font-weight: lighter;
    letter-spacing: 6px;
}


#info > h1{
    padding: 13px 0px 20px 17px;
}

#info > #descricao{
    padding: 2px 0px 0px 17px;
}

#info > .preco{
    display: flex;

}

#info > .preco > *{
    margin: 35px 0px 35px 0px;
    padding-left: 17px;
    

}

#info > .preco > h2{
    color: rgb(204, 173, 81);
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: bolder;
}   


#info > .preco > h4{
    color: black;
    text-decoration: line-through;
    opacity: 40%;
}


#info > #botao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#info > #botao > button{
    padding: 10px 40px;
    text-decoration: none;
    background: rgb(206, 144, 0);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


#info > #botao > button:hover{
    background: rgb(152, 107, 0);
    color: white;


}


.material-symbols-outlined{
    font-size: 15px;
}





/*MEDIA QUERY 810PX*/
@media (max-width:810px){
    main{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    
    .all{   /*Se refere aos dois conteiners*/
        width: 300px;
        height: 300px;
        background-color: aqua;
        
    }
    
    #produto{
        border-radius: 10px 10px 0px 0px;
    }

    #info{
        border-radius: 0px 0px 10px 10px;
    }






    #info > #perfume{
        padding: 10px 0px 0px 17px;
        font-weight: lighter;
        letter-spacing: 4px;
        font-size: 15px;
    }
    
    
    #info > h1{
        padding:5px 0px 5px px;
        font-size: 20px;
    }
    
    #info > #descricao{
        padding: 2px 0px 0px 17px;
        font-size: 13px;
    }
    
    #info > .preco{
        display: flex;
    
    }
    
    #info > .preco > *{
        margin: 10px 0px 10px 10px;
        padding-left: 17px;
    
    }
    
    #info > .preco > h2{
        color: rgb(204, 173, 81);
        font-size: 2em;
        letter-spacing: 1px;
        font-weight: bolder;
    }   
    
    
    #info > .preco > h4{
        color: black;
        text-decoration: line-through;
        opacity: 40%;
    }


/*botao*/
    #info > #botao{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    #info > #botao > button{
        margin: 3px;
        padding: 8px 30px;
        text-decoration: none;
        background: rgb(204, 173, 81);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    


    /*
    #info > #botao > button:hover{
        background: rgb(152, 107, 0);
        color: white;
    
    
    }*/



}